@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #282825;
        --background: #f9f5f1;
        --primary: #22a093;
        --secondary: #f7cb45;
        --accent: #9369fc;
    }

    .dark {
        --text: #dadad7;
        --background: #0e0a06;
        --primary: #5fddd0;
        --secondary: #ba8d08;
        --accent: #2d0396;
    }
}

@font-face {
    font-family: "Big John";
    src: url("../public/BIG\ JOHN.otf");
}

@font-face {
    font-family: "Slim Joe";
    src: url("../public/Slim\ Joe.otf");
}